/* --------- Global style */

body {
    font-family: 'Comic Neue', cursive;
    margin: auto 0;
    color: white;
    text-align: center;

}

h1 {
    background-color: black;
    width: 100%;
    text-align: center;
    margin: auto 0;
}

#hero {
    background-color: #673cab;
    background-image: url(../images/pp2-cosmic-background/vecteezy_abstract-space-galaxy-view-with-blue-pink-cloud_16265607.jpg);
    width: 100%;
    height: 100%;
}

button {
    background: none;
    border: rgb(50, 150, 50);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    cursor: pointer;
    transition: 100ms;
}

/* prevent from clicking on the weapon icon but still listening for event*/
.weapons>i {
    pointer-events: none;
    cursor: pointer;
}

/* Selections grow, tip from webdev simplified youtube */
button:hover {
    transform: scale(1.5);
}

.modal-container {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

div {
    display: block;
}

footer {
    background-color: black;
}